@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #000;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.title-1 {
  font-weight: 600;
  font-size: 34px;
}

section {
  padding-top: 90px;
}

/* Header */

.header {
  background-color: rgba(241, 241, 241, 1);
  padding-top: 46px;
}

.logo {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  padding: 0 12px 3px 0;
  position: relative;
  text-decoration: none;
}

.logo::after {
  content: "";
  width: 8px;
  height: 8px;
  background: rgba(253, 163, 0, 1);
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 76px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-left: 50px;
}

.nav-item:first-child {
  margin-left: 0px;
}

.nav-link.active {
  color: #606060;
}

.nav-link {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  transition: 0.3s all;
  text-decoration: none;
}

.nav-link:hover {
  color: #606060;
}

/* Header content start*/

.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.header-content {
  max-width: 500px;
  margin-top: 124px;
}

.header-heading {
  color: #000;
  font-size: 44px;
  font-weight: 600;
  line-height: 66px;
  margin-bottom: 20px;
}

.desc-header-content {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

/* Header content end*/

/* Service content start*/

.services {
  padding: 90px 0;
}

.service-row {
  display: flex;
  column-gap: 30px;
}

.service-icon {
  margin-bottom: 30px;
}

.service-card-title {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 36px;
  margin-bottom: 10px;
}

.service-description {
  width: 370px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

/* Service content end*/

/* Section portfolio start*/

.portfolio {
  background-color: #f1f1f1;
  padding: 90px 0;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 70px;
}

.project {
  text-align: center;
}

.project + .project {
  margin-top: 90px;
}

.project-img {
  margin-bottom: 40px;
}

.project-title {
  font-weight: 400;
  font-size: 18px;
}

.project-title a {
  color: #000;
}

/* Section portfolio end*/
