@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

section {
  padding-top: 90px;
}

/* Header */

.header {
  background-color: rgba(241, 241, 241, 1);
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  size: 32px;
  line-height: 32px;
  margin-left: 215px;
  position: relative;
}

.ellipse {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(253, 163, 0, 1);
  position: absolute;
  margin-left: 4px;
  top: 60%;
}

.list {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  margin-left: 50px;
}

.nav-list:first-child {
  margin-left: 0;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.hero {
  background-color: rgba(241, 241, 241, 1);
  display: flex;
}

.hero-title {
  width: 482px;
  padding-top: 200px;
  padding-left: 215px;
}

.title {
  font-weight: 600;
  font-size: 44px;
  line-height: 66px;
}

.desc-hero {
  padding-top: 20px;
  width: 482px;
}

.inner-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.hero-img {
  margin-left: 176px;
  margin-top: 76px;
}

.list-item {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
}

.item {
  margin-left: 30px;
}

.item:first-child {
  margin-left: 0px;
}

.service-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-top: 30px;
}

.desc-service {
  margin-top: 10px;
  width: 370px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}
/* Section portfolio */

.portfolio {
  background-color: rgba(241, 241, 241, 1);
  max-width: 100%;
  padding-top: 90px;
}

.portfolio__title {
  text-align: center;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  padding-bottom: 60px;
}

.section-collection {
  width: 930px;
  background-color: #fff;
  height: 400px;
  margin: 0 auto;
  padding: 15px;
}

.wrapper-collection {
  width: 930px;
  background-color: #fff;
  margin: 0 auto;
  padding: 25px;
}

.collection__list {
  display: flex;
  margin-bottom: 20px;
}

.collection__item {
  margin-left: 20px;
}

.collection__item:first-child {
  margin-left: 0;
}

.collection__link {
  font-size: 12px;
  font-weight: 500;
  color: black;
  transition: all linear 0.3s;
}

.collection__link:hover {
  color: rgb(9, 72, 131);
}

.portfolio__burger {
  width: 35px;
  height: 20px;
  display: block;
  position: relative;
  display: none;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  display: block;
  top: 50%;
  height: 2px;
  background-color: black;
  position: absolute;
}

.burger__line_third {
  bottom: 0;
}

.collection__title {
  width: 200px;
  padding: 10px;
  font-weight: 700;
  font-size: 30px;
  position: relative;
}

.collection__title::before {
  content: "";
  width: 2px;
  height: 23px;
  background-color: black;
  position: absolute;
  left: 70%;
  top: 21px;
}

.collection-img {
  display: flex;
}

.inner-img {
  width: 250px;
  margin-left: 150px;
}

.wrapper-img {
  position: relative;
}

.desc-img {
  font-weight: 600;
  font-size: 27px;
  color: #6f697c;
  position: absolute;
  top: 29%;
  left: 40%;
}

.collection-search {
  font-weight: 500;
  font-size: 15px;
  color: black;
  margin-left: 150px;
  position: relative;
}

.collection-search::after {
  content: "";
  border-bottom: solid 1px black;
  width: 65px;
  top: 15px;
  position: absolute;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  padding-bottom: 80px;
}

.item-link {
  display: block;
  text-align: center;
  padding-top: 40px;
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  transition: 0.3s all;
}

.item-link:hover {
  color: blue;
}

.section-footer {
  background-color: #fff;
}

.footer-content {
  width: 342px;
  margin: 0 auto;
  margin-top: 90px;
}

.title-footer {
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
}

.footer-desc {
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
}

.footer-btn {
  display: block;
  margin: 0 auto;
  padding: 8px;
  width: 120px;
  background-color: black;
  color: #fff;
  margin-top: 40px;
  border-radius: 25px;
}

.icon-list {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.icon-item {
  margin-left: 40px;
}

.icon-item:first-child {
  margin-left: 0px;
}

.icon-item:hover {
  background-color: #6f697c;
}

.footer-text {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin-top: 40px;
  color: rgba(130, 130, 130, 1);
}

/* .modal-message {
  width: 100vh;
  background-color: #6f697c;
  transition: ;
} */
